
@import '../../../variables.less';

.app-menu {
  &__item {
    &__text {
      color: #333;
      max-width: 140px;
    }

    &__icon {
      color: @primary;
    }

    &.active {
      background-color: @active-bg-color;
    }
  }

  &__children {
    padding-top: 0;
    padding-bottom: 0;
  }
}
