.app-sidebar__menu {
  &__logo-wrapper {
    font-size: 22px;
    padding-left: 16px;
    padding-right: 16px;

    img {
      display: inline-block;
      margin-right: 10px;
      height: 32px;
    }
  }
}
