.app-sidebar {
  z-index: 0;
}

.app-page__navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  &__toolbar {
    padding-left: 16px;

    &__logo {
      height: 32px;
    }
  }
}
