.app-sidebar {
  z-index: 0;
}

.app-page__navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  &__toolbar {
    padding-left: 16px;

    &__logo {
      height: 32px;
    }
  }
}

.app-page-home {
  &__avatar-dropdown {
    width: 220px;

    .list {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
