@import './variables.less';

p {
  font-size: 15px;
  line-height: 15px;
}

p > code {
  line-height: 20px;
  color: darkslateblue;
}

.app-page {
  &__navbar {
    border-bottom: @component-border;

    &__toolbar {
      background-color: white;
      color: @text-color;
    }
  }
}
