@import './variables.less';

p {
  font-size: 15px;
  line-height: 15px;
}

p > code {
  line-height: 20px;
}

.app-page {
  height: 100%;

  &__navbar {
    border-bottom: @component-border;

    &__toolbar {
      background-color: white;
      color: @text-color;
    }
  }
}

.button-wrapper, .input-wrapper, .checkbox-wrapper {
  margin-bottom: 20px;
}

.app-form {
  display: flex;
  flex-direction: column;

  .button-wrapper, .input-wrapper, .checkbox-wrapper {
    margin-bottom: 20px;
  }

  .input-wrapper {
    min-width: 280px;
  }
}
