@import './variables.less';

p {
  font-size: 15px;
  line-height: 15px;
}

p > code {
  line-height: 20px;
}

.app-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__navbar {
    border-bottom: @component-border;

    &__toolbar {
      background-color: white;
      color: @text-color;
    }
  }

  &-table-wrapper {
    margin-top: 24px;
  }
}

.button-wrapper, .input-wrapper, .checkbox-wrapper {
  margin-bottom: 20px;
}

.app-form {
  display: flex;
  flex-direction: column;

  .button-wrapper, .input-wrapper, .checkbox-wrapper {
    margin-bottom: 20px;
  }

  .input-wrapper {
    min-width: 280px;
  }
}

.app-grid {
  &-container {
    padding-left: 240px;
    height: 100%;

    .item {
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: nowrap;
      max-height: 100%;
      overflow: scroll;
    }
  }
}

.app-search-wrapper {
  padding: 0;
  flex-grow: 1;
  flex-shrink: 0;

  &__input {
    &__root {
      width: 100%;
    }

    &__input {
      padding: 16px;
      width: 100%;
    }
  }
}

.app-page-interact-wrapper {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;

  &__button {
    margin-left: 10px;
    min-width: 0;
    transition: @transition;

    &.collapsed {
      width: 0;
      padding: 0;
      margin: 0;
      transition: @transition;
    }
  }
}

.app-loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  &__icon {
    font-size: 15px;
    width: 28px !important;
    height: 28px !important;
  }
}

.app-page-table-wrapper {
  flex-grow: 1;
  overflow: hidden;

  &.scrollable {
    overflow-y: scroll;
  }
}

.app-grid-container {
  &.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
  }
}

.app-empty {
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__icon {
    width: 64px;
    height: 64px;
    color: @gray-500;
  }

  &__text {
    color: @gray-600;
  }
}

@media screen and (max-width: 599px) {
  .app-grid-container {
    padding-left: 0;
  }
}
